*{
gap:15px;
}

input,
select{
padding:15px;
border:none;
border-radius:15px;
font-size:15px;
}

/* FOTO */

.foto-btn{
background:#ffd6ea;
padding:18px;
border-radius:18px;
text-align:center;
font-weight:bold;
color:#ff4da6;
}

#preview{
width:100%;
border-radius:20px;
display:none;
}

/* LISTA */

.lista{
display:flex;
flex-direction:column;
gap:20px;
}

/* CARD */

.card{
background:white;
padding:15px;
border-radius:25px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:20px;
margin-bottom:10px;
}

.card h3{
color:#ff4da6;
margin-bottom:5px;
}

.sem-foto{
height:220px;
background:#ffe4f2;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
font-size:50px;
}