body{
margin:0;
font-family:Arial;
background:#ffe4f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.tela{
display:none;
width:100%;
max-width:350px;
background:white;
padding:20px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.ativa{
display:block;
}

button{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:15px;
background:#ff4da6;
color:white;
font-size:16px;
}

input, select{
width:100%;
padding:10px;
margin:5px 0;
border-radius:10px;
border:1px solid #ccc;
}

#lista{
margin-top:10px;
text-align:left;
}

.item{
background:#fff0f6;
padding:10px;
margin-bottom:8px;
border-radius:10px;
}